.performance-container
  .performance-container__title
    SKILL BADGES
    %br
      %span
        OF
    COLLECTION
  .badge-icon
    .badge-icon__block
      %i.fas.fa-user-lock
      .badge-text
        .badge-text__index
          %a GUEST USER
    .badge-icon__block
      %i.fas.fa-toggle-on
      .badge-text
        .badge-text__index
          %a TOGGLE SWITCH
    .badge-icon__block
      %i.fas.fa-moon
      .badge-text
        .badge-text__index
          %a DARK MODE
    .badge-icon__block
      %i.fas.fa-exclamation-circle
      .badge-text
        .badge-text__index
          %a HOVER ON
    .badge-icon__block
      %i.fas.fa-heart
      .badge-text
        .badge-text__index
          %a FAVORITE
    .badge-icon__block
      %i.fas.fa-bolt
      .badge-text
        .badge-text__index
          %a PAGENATION
    .badge-icon__block
      %i.fas.fa-bars
      .badge-text
        .badge-text__index
          %a HAMBURGER MENU
    .badge-icon__block
      %i.fas.fa-mobile-alt
      .badge-text
        .badge-text__index
          %a RESPONSIVE
    .badge-icon__block
      %i.fas.fa-arrow-circle-up
      .badge-text
        .badge-text__index
          %a TOP SCROLL
    .badge-icon__block
      %i.far.fa-images
      .badge-text
        .badge-text__index
          %a SLIDE SHOW
  .badge-icon
    .badge-icon__block
      %i.fas.fa-caret-square-down
      .badge-text
        .badge-text__index
          %a ACCORDION MENU
    .badge-icon__block
      %i.far.fa-window-maximize
      .badge-text
        .badge-text__index
          %a#modalOpen MODAL WINDOW
    .badge-icon__block
      %i.fas.fa-project-diagram
      .badge-text
        .badge-text__index
          %a ERD MODELING
    .badge-icon__block
      %i.fas.fa-question-circle
      .badge-text
        .badge-text__index
          %a ？？？？？？？？？
    .badge-icon__block
      %i.fas.fa-question-circle
      .badge-text
        .badge-text__index
          %a ？？？？？？？？？
    .badge-icon__block
      %i.fas.fa-question-circle
      .badge-text
        .badge-text__index
          %a ？？？？？？？？？
    .badge-icon__block
      %i.fas.fa-question-circle
      .badge-text
        .badge-text__index
          %a ？？？？？？？？？
    .badge-icon__block
      %i.fas.fa-question-circle
      .badge-text
        .badge-text__index
          %a ？？？？？？？？？
    .badge-icon__block
      %i.fas.fa-question-circle
      .badge-text
        .badge-text__index
          %a ？？？？？？？？？