.performance-header
  .performance-header__title
    performance
  .performance-header__botton
    %a#panel-btn{href: "#"}
      %span#panel-btn-icon
    #panel
      = link_to "チャットに移動する", toppages_index_path, method: :get
      = link_to "てんしょくクエスト", games_index_path, method: :get