.modal#modal
  .modal__contents
    .modal__contents__title
      you are choice a icon
    .modal__contents__icon
      %i.fas.fa-user-lock
    .modal__contents__icon-title
      GUEST USER
    .modal__contents__output
      Please click here for
      = link_to "output.", "/"
  %a#modalClose.modalClose
    ×
.mask#mask