.performance-container
  .performance-container__title
    SKILL BADGES
    %br
      %span
        OF
    COLLECTION
  .badge-icon
    .badge-icon__block
      %i.fas.fa-user-lock
      .badge-text
        .badge-text__index
          %a#openModal GUEST USER
    / モーダルウィンドウ開始
    %section#modalArea.modalArea
      #modalBg.modalBg
      .modalWrapper
        .modalContents
          .modalContents__title
            you are choice a icon
          .modalContents__icon
            %i.fas.fa-user-lock
          .modalContents__icon-title
            GUEST USER
          .modalContents__output
            Please click here for
            = link_to "output.", "/"
        #closeModal.closeModal
          ×
    / モーダルウィンドウ終了
    .badge-icon__block
      %i.fas.fa-toggle-on
      .badge-text
        .badge-text__index
          TOGGLE SWITCH
    .badge-icon__block
      %i.fas.fa-moon
      .badge-text
        .badge-text__index
          DARK MODE
    .badge-icon__block
      %i.fas.fa-exclamation-circle
      .badge-text
        .badge-text__index
          HOVER ON
    .badge-icon__block
      %i.fas.fa-heart
      .badge-text
        .badge-text__index
          FAVORITE
    .badge-icon__block
      %i.fas.fa-bolt
      .badge-text
        .badge-text__index
          PAGENATION
    .badge-icon__block
      %i.fas.fa-bars
      .badge-text
        .badge-text__index
          HAMBURGER MENU
    .badge-icon__block
      %i.fas.fa-mobile-alt
      .badge-text
        .badge-text__index
          RESPONSIVE
    .badge-icon__block
      %i.fas.fa-arrow-circle-up
      .badge-text
        .badge-text__index
          TOP SCROLL
    .badge-icon__block
      %i.far.fa-images
      .badge-text
        .badge-text__index
          SLIDE SHOW
  .badge-icon
    .badge-icon__block
      %i.fas.fa-caret-square-down
      .badge-text
        .badge-text__index
          ACCORDION MENU
    .badge-icon__block
      %i.far.fa-window-maximize
      .badge-text
        .badge-text__index
          MODAL WINDOW
    .badge-icon__block
      %i.fas.fa-project-diagram
      .badge-text
        .badge-text__index
          ERD MODELING
    .badge-icon__block
      %i.fas.fa-question-circle
      .badge-text
        .badge-text__index
          ？？？？？？？？？
    .badge-icon__block
      %i.fas.fa-question-circle
      .badge-text
        .badge-text__index
          ？？？？？？？？？
    .badge-icon__block
      %i.fas.fa-question-circle
      .badge-text
        .badge-text__index
          ？？？？？？？？？
    .badge-icon__block
      %i.fas.fa-question-circle
      .badge-text
        .badge-text__index
          ？？？？？？？？？
    .badge-icon__block
      %i.fas.fa-question-circle
      .badge-text
        .badge-text__index
          ？？？？？？？？？
    .badge-icon__block
      %i.fas.fa-question-circle
      .badge-text
        .badge-text__index
          ？？？？？？？？？