.performance-container
  .performance-container__title
    SKILL BADGES 
    %br OF
    COLLECTION
  .badge-icon
    .badge-icon__image
      ●
      ●
      ●
      ●
      ●
      ●
      ●
      ●
      ●
      ●
      ●
      ●
      ●
      ●
  .badge-text
    .badge-text__index
      バッチタイトル
    .badge-text__index
      バッチタイトル
    .badge-text__index
      バッチタイトル
    .badge-text__index
      バッチタイトル
    .badge-text__index
      バッチタイトル
    .badge-text__index
      バッチタイトル
    .badge-text__index
      バッチタイトル
    .badge-text__index
      バッチタイトル
    .badge-text__index
      バッチタイトル
    .badge-text__index
      バッチタイトル
    .badge-text__index
      バッチタイトル
    .badge-text__index
      バッチタイトル
    .badge-text__index
      バッチタイトル
    .badge-text__index
      バッチタイトル

  .badge-icon
    .badge-icon__image
      ●
      ●
      ●
      ●
      ●
      ●
      ●
      ●
      ●
      ●
      ●
      ●
      ●
      ●
  .badge-text
    .badge-text__index
      バッチタイトル
    .badge-text__index
      バッチタイトル
    .badge-text__index
      バッチタイトル
    .badge-text__index
      バッチタイトル
    .badge-text__index
      バッチタイトル
    .badge-text__index
      バッチタイトル
    .badge-text__index
      バッチタイトル
    .badge-text__index
      バッチタイトル
    .badge-text__index
      バッチタイトル
    .badge-text__index
      バッチタイトル
    .badge-text__index
      バッチタイトル
    .badge-text__index
      バッチタイトル
    .badge-text__index
      バッチタイトル
    .badge-text__index
      バッチタイトル
