.performance-container
  .performance-container__title
    SKILL BADGES
    %br
      %span
        OF
    COLLECTION
  .badge-icon
    %i.fas.fa-user-lock
      .badge-text
        .badge-text__index
          GUEST USER
    %i.fas.fa-toggle-on
      .badge-text
        .badge-text__index
          TOGGLE SWITCH
    %i.fas.fa-moon
      .badge-text
        .badge-text__index
          DARK MODE
    %i.fas.fa-exclamation-circle
      .badge-text
        .badge-text__index
          HOVER ON
    %i.fas.fa-heart
      .badge-text
        .badge-text__index
          FAVORITE
    %i.fas.fa-bolt
      .badge-text
        .badge-text__index
          PAGENATION
    %i.fas.fa-bars
      .badge-text
        .badge-text__index
          HAMBURGER MENU
    %i.fas.fa-mobile-alt
      .badge-text
        .badge-text__index
          RESPONSIVE
    %i.fas.fa-arrow-circle-up
      .badge-text
        .badge-text__index
          TOP SCROLL
    %i.far.fa-images
      .badge-text
        .badge-text__index
          SLIDE SHOW
  .badge-icon
    %i.fas.fa-caret-square-down
      .badge-text
        .badge-text__index
          ACCORDION MENU
    %i.far.fa-window-maximize
      .badge-text
        .badge-text__index
          MODAL WINDOW
    %i.fas.fa-question-circle
      .badge-text
        .badge-text__index
          ？？？？？？？？？
    %i.fas.fa-question-circle
      .badge-text
        .badge-text__index
          ？？？？？？？？？
    %i.fas.fa-question-circle
      .badge-text
        .badge-text__index
          ？？？？？？？？？
    %i.fas.fa-question-circle
      .badge-text
        .badge-text__index
          ？？？？？？？？？
    %i.fas.fa-question-circle
      .badge-text
        .badge-text__index
          ？？？？？？？？？
    %i.fas.fa-question-circle
      .badge-text
        .badge-text__index
          ？？？？？？？？？
    %i.fas.fa-question-circle
      .badge-text
        .badge-text__index
          ？？？？？？？？？