.hamburgermenu-header
  %a.menuButton#menuButton
    .div
    .div
    .div
  .hamburger-nav#hamburger-nav
    %ul
      %li
        = link_to "easy chat", toppages_index_path, method: :get
      %li
        = link_to "てんしょくクエスト", games_index_path, method: :get