.hamburgermenu-header
  %a.menuButton#menuButton
    .div
    .div
    .div
  .hamburger-nav#hamburger-nav
    %ul
      %li menu1
      %li menu2
      %li menu3
      %li menu4
      %li menu5
      %li menu1
      %li menu2
      %li menu3
      %li menu4
      %li menu5
      %li menu1
      %li menu2
      %li menu3
      %li menu4
      %li menu5

.hamburgermenu-container
  %h1 ハンバーガーメニュー・ドロワーメニューの作り方