- if user_signed_in?
  - unless post.like_user(current_user.id).blank?
    = link_to post_like_path(post_id: post.id ,id: post.likes[0].id), method: :delete, remote: true do
      %i.fas.fa-heart
        = post.likes_count
        いいね！
  - else
    = link_to post_likes_path(post.id), method: :post, remote: true do
      %i.fas.fa-heart
        = post.likes_count
        いいね！