.header
  .header__bar
    .header__bar__left
      ようこそ！
    .header__bar__right
      %ul.header-item
      - if user_signed_in?
        %li.header-bar-item
          ログインしています
        %li.header-bar-item
          = link_to "ログアウト"
      - else
        %li.header-bar-item
          = link_to "ログイン"
        %li.header-bar-item
          = link_to "新規登録"