.main-container {
  display: flex;
  padding-top: 150px;
}

.message {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 800px;
  background-color: #f0f8ff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 3px grey;
  &__top-title {
    color: #272727;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
  }
  hr {
    margin-bottom: 30px;
  }
  &__name {
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    color: #666;

    time {
      color: #57c3e9;
      font-size: 14px;
    }
  }
  &__text {
    position: relative;
    display: inline-block;
    margin: 1.5em 0;
    margin-left: 20px;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    font-size: 16px;
    background: #87cefa;
    border-radius: 12px;
    :before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 3px;
      left: -19px;
      border: 8px solid transparent;
      border-right: 18px solid #87cefa;
      -webkit-transform: rotate(35deg);
      transform: rotate(35deg);
    }
  }
  .edit-actions {
    display: inline-block;
  }
  .edit-actions-btn {
    background-color: #3399ff;
    border-radius: 15px;
    padding: 5px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin-left: 5px;
  }
}
ul.debug-tool {
  width: 20%;
  height: 520px;
  background-color: #f0f8ff;
  box-shadow: 0 0 3px grey;
  border-radius: 10px;
  margin-right: 100px;
  text-align: center;
  h4.debug-tool-text {
    padding: 30px 0 10px 0;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #272727;
  }
  hr {
    width: 80%;
    margin-top: 20px;
  }
  li.debug-tool-item {
    font-size: 14px;
    border: 2px solid #57c3e9;
    font-weight: bold;
    border-radius: 3px;
    display: inline-block;
    margin: 15px 0 10px 0;
    p {
      color: #57c3e9;
      padding: 8px 20px;
    }
    a {
      text-decoration: none;
      color: #57c3e9;
      display: block;
      padding: 8px 20px;
      white-space: nowrap;
    }
  }
}
i.fa-exclamation-circle {
  color: #1e90ff;
  position: relative;
  display: inline-block;
}
i.fa-exclamation-circle .tooltiptext::after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  content: " ";
  border: 5px solid transparent;
  border-top-color: #1e90ff;
}
i.fa-exclamation-circle:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.tooltiptext {
  position: absolute;
  z-index: 1;
  bottom: 100%;
  bottom: 30px;
  right: -115px;
  visibility: hidden;
  width: auto;
  white-space: nowrap;
  padding: 0.3em 0.5em;
  transition: opacity 1s;
  text-align: center;
  opacity: 0;
  color: #ffffff;
  border-radius: 6px;
  background-color: #1e90ff;
}
.light-theme {
  background: #f5f5f3;
  color: #333;
}
.dark-theme {
  background: #000;
  color: #ddd;
}
