.form {
  text-align: center;
  padding: 50px 0 20px 0;
  &__input {
    width: 30%;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
  }
  &__btn {
    background-color: #57c3e9;
    border-radius: 20px;
    color: #fff;
    border: 0;
    font-size: 18px;
    width: 10%;
    padding: 10px;
  }
}

.main-container {
  display: flex;
}

.message {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 800px;
  background-color: white;
  padding: 10px 0 0 30px;
  border-radius: 10px;
  height: 500px;
  box-shadow: 0 0 3px grey;
  &__name {
    padding: 12px 0;
    time {
      color: #57c3e9;
      font-size: 14px;
    }
  }
  .edit-actions {
    display: inline-block;
  }
  .edit-actions-btn {
    background-color: #57c3e9;
    border-radius: 15px;
    padding: 5px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin-left: 5px;
  }
}
ul.debug-tool {
  width: 20%;
  background-color: white;
  box-shadow: 0 0 3px grey;
  border-radius: 10px;
  margin-right: 100px;
  text-align: center;
  h4.debug-tool-text {
    padding-top: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #272727;
  }
  hr {
    width: 80%;
    margin-top: 20px;
  }
  li.debug-tool-item1 {
    font-size: 14px;
    border: 2px solid #57c3e9;
    font-weight: bold;
    border-radius: 3px;
    display: inline-block;
    margin: 15px 0 10px 0;
    p {
      color: #57c3e9;
      padding: 8px 20px;
    }
    a {
      text-decoration: none;
      color: #57c3e9;
      display: block;
      padding: 8px 20px;
      white-space: nowrap;
    }
  }
}
