.Notification {
  position: relative;
  top: 80px;
  z-index: 10;
  .notice {
    background-color: #005fff;
    color: #fff;
    text-align: center;
    position: absolute;
    width: 100%;
  }
  .alert {
    background-color: #f35500;
    color: #fff;
    text-align: center;
    position: absolute;
    width: 100%;
  }
}
