.header {
  padding: 20px;
  border-bottom: 1px solid #d8d8d8;
  background-color: #f0f8ff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 80px;
  &__bar {
    position: relative;
    &__left {
      font-size: 20px;
      line-height: 41px;
      float: left;
      margin-left: 100px;
      display: flex;
      font-family: serif;
      &__name {
        a {
          text-decoration: none;
          font-weight: bold;
          color: #57c3e9;
        }
      }
    }
    &__right {
      text-align: right;
      float: right;
      margin-right: 100px;
      ul.header-item {
        display: flex;
        li.toggle-infomation {
          display: flex;
          align-items: center;
        }
        i.fa-exclamation-circle .darkmode-tooltiptext::after {
          position: absolute;
          top: -40%;
          left: 50%;
          margin-left: -5px;
          content: " ";
          border: 5px solid transparent;
          border-bottom-color: #1e90ff;
        }
        i.fa-exclamation-circle:hover .darkmode-tooltiptext {
          visibility: visible;
          opacity: 1;
        }
        .darkmode-tooltiptext {
          position: absolute;
          z-index: 1;
          bottom: -40px;
          left: -128px;
          visibility: hidden;
          width: auto;
          white-space: nowrap;
          padding: 0.3em 0.5em;
          transition: opacity 1s;
          text-align: center;
          opacity: 0;
          color: #ffffff;
          border-radius: 6px;
          background-color: #1e90ff;
        }
        .darkmode-text {
          color: #272727;
          margin: 10px;
        }

        .toggle-input {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 5;
          opacity: 0;
          cursor: pointer;
        }

        // label
        .toggle-label {
          width: 50px;
          height: 30px;
          background: #ccc;
          position: relative;
          display: inline-block;
          border-radius: 46px;
          transition: 0.4s;
          box-sizing: border-box;
          &:after {
            content: "";
            position: absolute;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            left: 0;
            top: 0;
            z-index: 2;
            background: #fff;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            transition: 0.4s;
          }
        }

        // input:ckeecked
        .toggle-input:checked {
          + .toggle-label {
            background-color: #57c3e9;
            &:after {
              left: 25px;
            }
          }
        }

        p {
          margin-top: 50px;
          text-align: center;
          font-weight: bold;
        }

        div {
          margin: auto;
        }

        li.toggle-switch {
          position: relative;
          height: 42px;
          margin-right: 10px;
          display: flex;
          align-items: center;
        }
        li.header-bar-item {
          margin-left: 20px;
          font-size: 14px;
          border: 2px solid #57c3e9;
          font-weight: bold;
          text-align: center;
          border-radius: 3px;
          display: inline-block;
          p {
            color: #57c3e9;
            padding: 8px 20px;
          }
          a {
            text-decoration: none;
            color: #57c3e9;
            display: block;
            padding: 8px 20px;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
a:hover {
  opacity: 0.7;
}
