// registrations/new.html.haml、registrations/edit.html.haml
// sessions/new.html.haml、posts/new.html.hamlのクラスを共有しています

.contents {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 660px;
  padding-top: 100px;
  .container {
    margin: 20px 0;
    padding: 30px;
    box-shadow: 0 0 3px grey;
    background-color: white;
    box-sizing: border-box;
    h2 {
      margin: 20px 0;
      font-weight: normal;
    }
    input {
      width: 100%;
      margin: 5px 0 15px;
      padding: 10px;
      border: 1px solid #d8d8d8;
      border-radius: 5px;
    }
    .text-form {
      width: 100%;
    }
    .action-botton {
      background-color: #57c3e9;
      border-radius: 20px;
      color: white;
      border: 0;
      font-size: 18px;
      margin-top: 30px;
    }
    .success {
      text-align: center;
      &__btn {
        border: 2px solid #57c3e9;
        border-radius: 3px;
        display: inline-block;
        margin-top: 15px;
        a.btn {
          font-weight: bold;
          display: inline-block;
          text-decoration: none;
          color: #57c3e9;
          padding: 8px 20px;
          white-space: nowrap;
        }
        a:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
