@media screen and (max-width: 768px) {
  .header {
    height: initial;
    padding: 0 80px;
    &__bar {
      &__left {
        display: block;
        margin-left: initial;
        margin-top: 20px;
      }
      &__right {
        margin-right: initial;
        padding-top: 20px;
        ul.header-item {
          display: -webkit-box;
          li.toggle-infomation {
            display: flex;
            align-items: center;
            font-size: 13px;
          }
          li.toggle-switch {
            height: initial;
          }
          .darkmode-tooltiptext {
            left: initial;
          }
          i.fa-exclamation-circle .darkmode-tooltiptext::after {
            top: -50%;
            margin-left: -90px;
          }
          li.header-bar-item {
            margin: 10px;
          }
        }
      }
    }
  }
  .main-container {
    flex-direction: column;
    .message {
      margin-bottom: 30px;
    }
    .message-tools {
      margin: 0 auto;
      width: 80%;
    }
  }
  // _new.scssのクラス
  .contents {
    padding-top: 120px;
  }
  // _flash.scssのクラス
  .Notification {
    top: -30px;
    z-index: 6;
    margin-top: 30px;
    .notice {
      position: initial;
    }
    .alert {
      position: initial;
    }
  }
}
