.performance-container {
  background-color: #222222;
  padding: 50px;
  height: 600px;
  &__title {
    height: 100px;
    font-size: 20px;
    color: gold;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 10px;
    text-align: center;
    margin: 30px;
  }
  .badge-icon {
    height: 100px;
    font-size: 60px;
    color: #666;
    text-align: center;
    margin: 50px 30px 30px 30px;
    i {
      padding: 0 10px;
    }
  }
  .badge-text {
    color: gold;
    font-size: 10px;
    font-family: monospace;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 30px 0;
    &__index {
    }
  }
}
