.performance-header {
  height: 100px;
  padding: 20px;
  display: flex;
  &__title {
    margin-left: 550px;
    font-family: serif;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 10px;
  }
  &__botton {
    margin-left: 500px;
  }
}
