%ul.accordion-menu
  %li
    %a(href="") 親メニュー1
    %ul
      %li
        %a(href="")子メニュー1
      %li
        %a(href="")子メニュー2
      %li
        %a(href="")子メニュー3
  %li
    %a(href="") 親メニュー2
    %ul
      %li
        %a(href="")子メニュー1
      %li
        %a(href="")子メニュー2
      %li
        %a(href="")子メニュー3
  %li
    %a(href="") 親メニュー3
    %ul
      %li
        %a(href="")子メニュー1
      %li
        %a(href="")子メニュー2
      %li
        %a(href="")子メニュー3