.tabmenu-container
  %ul.tabmenu-container__tabs
    %li
      %a.active メニュー1
    %li
      %a メニュー2
    %li
      %a メニュー3
  %ul.tabmenu-container__contents
    %li.active
      メニュー1のコンテンツ
    %li
      メニュー2のコンテンツ
    %li
      メニュー3のコンテンツ
