%h1 Uis#index
%p Find me in app/views/uis/index.html.haml

%a#modalOpen MODAL WINDOW

= render partial: "uis/hamburger-menu"

= render partial: "uis/tabmenu"

= render partial: "uis/toggle-switch"

= render partial: "uis/modal"