.tabmenu-container
  %ul.tabmenu-container__tabs
    %li
      %a.active メニュー1
    %li
      %a メニュー2
    %li
      %a メニュー3
  %ul.tab-menu__textcontents
    %li.contents-messages.show
      メニュー1のコンテンツ
    %li.contents-messages
      メニュー2のコンテンツ
    %li.contents-messages
      メニュー3のコンテンツ
