.header
  .header__bar
    .header__bar__left
      ようこそ！
    .header__bar__right
      %ul.header-item
      - if user_signed_in?
        %li.header-bar-item
          %p
            ログインしています
        %li.header-bar-item
          = link_to "ログアウト", destroy_user_session_path, method: :delete
      - else
        %li.header-bar-item
          = link_to "ログイン", new_user_session_path, method: :get
        %li.header-bar-item
          = link_to "新規登録", new_user_registration_path, method: :get